body{
    text-align: center;
}

.container{
    /* display: flex; */
    justify-content: center;
    margin: auto;
    height: 350px;
    width: 450px;
    background: #ef0707;
}
/* .box{
    margin: 7px;
    border-radius: 25px;
    height: 50%;
    width: 50%;
    background-color: #fff;
    border: 2px solid black;
} */

.box1{
    background-color:pink;
    height: 50%;
    width: 90%;
    margin: auto;
    
}
.box2{
    background-color:pink;
    height: 50%;
    width: 90%;
    margin: auto;
    
}
